<div class="flex w-full h-lvh  items-center justify-center">
  <div class=" h-72 w-1/6 rounded shadow-md font-Varela ">

    <div class="bg-header-color rounded-t-xl  pb-12">
      <h1 class="text-white  text-2xl pl-3 pt-3">Calculator</h1>
      <div class="text-end text-white  text-2xl pr-3 h-9"> {{before | number}} {{operation}} {{after}}</div>
    </div>
  
    <div class="bg-body-color h-auto rounded-b-xl">

      <div class="grid grid-cols-4 py-1">
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="clearEverything()">AC</button>
        </div>
        <div class="flex justify-center ">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="clear()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
            </svg>
            
          </button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="operationClicked('%')">%</button>
        </div>
        <div class="flex justify-center">
          <button class="text-black bg-white rounded-full  transition ease-in-out duration-300 hover:bg-body-color hover:text-white" (click)="operationClicked('/')">
            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 12H20M13 6C13 6.55228 12.5523 7 12 7C11.4477 7 11 6.55228 11 6C11 5.44772 11.4477 5 12 5C12.5523 5 13 5.44772 13 6ZM13 18C13 18.5523 12.5523 19 12 19C11.4477 19 11 18.5523 11 18C11 17.4477 11.4477 17 12 17C12.5523 17 13 17.4477 13 18Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </button>
        </div>
      
      </div>
    
      <div class="grid grid-cols-4 py-1">
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('7')">7</button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('8')">8</button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('9')">9</button>
        </div>
        <div class="flex justify-center">
          <button class="text-black bg-white rounded-full px-2 transition ease-in-out duration-300 hover:bg-body-color hover:text-white" (click)="operationClicked('*')">
          x 
          </button>
        </div>
      
      </div>
      
      <div class="grid grid-cols-4 py-1">

        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('4')">4</button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('5')">5</button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('6')">6</button>
        </div>
        <div class="flex justify-center">
          <button class="text-black bg-white rounded-full px-2 transition ease-in-out duration-300 hover:bg-body-color hover:text-white" (click)="operationClicked('-')">
          -
          </button>
        </div>
      
      </div>

      <div class="grid grid-cols-4 py-1">
        
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('1')">1</button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('2')">2</button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('3')">3</button>
        </div>
        <div class="flex justify-center">
          <button class="text-black bg-white rounded-full px-2 transition ease-in-out duration-300 hover:bg-body-color hover:text-white" (click)="operationClicked('+')">
          +
          </button>
        </div>
      
      </div>

      <div class="grid grid-cols-4 py-1">
        
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="operationClicked('!=')">
          !=
          </button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('0')">0</button>
        </div>
        <div class="flex justify-center">
          <button class="text-white transition ease-in-out duration-300 hover:text-gray-500" (click)="numberClicked('.')">.</button>
        </div>
        <div class="flex justify-center">
          <button class="text-white bg-orange rounded-full px-2 transition ease-in-out duration-300 hover:bg-body-color hover:text-white" (click)="calculate()">
          =
          </button>
        </div>
      
      </div>

    </div>

  </div>
</div>